@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #070b14;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#9333ea, #7e22ce);
  border-radius: 999px;
}

a {
  transition: 0.2s;
}

a:hover {
  opacity: 0.8;
}