*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#050816;
  color:white;
  font-family:Arial,sans-serif;
  overflow-x:hidden;
}

/* Fundo */
body::before{
  content:'';
  position:fixed;
  inset:0;
  background:
    radial-gradient(circle at top left, rgba(168,85,247,0.15), transparent 30%),
    radial-gradient(circle at bottom right, rgba(59,130,246,0.15), transparent 30%);
  z-index:-2;
}

/* Grid */
body::after{
  content:'';
  position:fixed;
  inset:0;
  background-image:
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);
  background-size:40px 40px;
  z-index:-1;
}

.glass{
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(12px);
  border:1px solid rgba(255,255,255,0.08);
}

.neon{
  box-shadow:
    0 0 10px rgba(168,85,247,.4),
    0 0 25px rgba(59,130,246,.2);
}

.hover-glow{
  transition:0.3s;
}

.hover-glow:hover{
  transform:translateY(-5px);
}

.btn-primary{
  background:linear-gradient(90deg,#7c3aed,#2563eb);
  padding:14px 28px;
  border-radius:16px;
  border:none;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

a{
  color:white;
  text-decoration:none;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#7c3aed;
  border-radius:999px;
}