html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

@keyframes bounce {
  0% { transform: translateX(-50%) translateY(0px); }
  50% { transform: translateX(-50%) translateY(10px); }
  100% { transform: translateX(-50%) translateY(0px); }
}